* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  transition: all 0.3s ease;
}

.void-wrapper {
  min-height: 100vh;
  background:black;
  color: #f5f5f5;
}
.void-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  color: white;
}
.nav-right span {
  margin-left: 1.5rem;
  cursor: pointer;
}
.void-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
}
.void-pill {
  border: 1px solid rgb(244, 236, 236);
  padding: 0.6rem 1.4rem;
  border-radius: 50px;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  color: rgb(208, 197, 197);
}
.void-hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.void-hero p {
  font-size: 1.1rem;
  color: #a1a1a1;
  max-width: 520px;
  margin-bottom: 2.5rem;
}
.void-actions {
  display: flex;
  gap: 1.2rem;
}
.primary {
  background: white;
  color: black;
  border: none;
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.secondary {
  background: transparent;
  color: white;
  border: 1px solid #2a2a2a;
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
}
.primary:hover ,.secondary:hover{
opacity: 0.6;
}
.ncon{
      border: 1px solid rgb(0, 0, 0);
      padding: 2%;
padding-left: 5%;
padding-right: 5%;
border-radius: 10px;
}
.ncon:hover{
    border: 1px solid rgb(244, 236, 236);
}
.joinbox input,.newMsg{
  background: #050505;
  border:2px solid #313131;
  border-radius: 10px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  outline: none;
  margin: 1px;
}
.joinbox input::placeholder {
  color: #939292;
}
.joinbox input:focus {
  border-color: #ffffff;
}
.bttn{
  font-weight: 500;
  background-color: white;
 border:2px solid #ffffff;  border-radius: 10px;
  padding: 0.9rem 1rem;
  min-width: 100px;
  margin: 5px;
}
.bttn:hover{
   border:2px solid #313131;
opacity: 0.8;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chat-section {
  background-color: #383838;
  height: 85vh;
  width: 60vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;      
  max-width: 800px;  
  max-height: 85vh;
  overflow-y: auto;
}
.chatbox{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;      
  max-width: 800px;  
  max-height: 85vh;
  
  padding: 10px;
}
.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 60%;
  word-wrap: break-word;
}
.sent {
  align-self: flex-start; 
  background-color: white;
  color: #050505;
}
.received {
  align-self: flex-end; 
  background-color: #000000;
  color: white;
}
.sender{
  display: flex;
  flex-direction: row;
  font-size: 0.5rem;
 max-width: 60%;
}
.secretName{

}
.newmessage input{
  width: 55vw;
  background-color: white;
  border:2px solid #313131;
  border-radius: 10px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: #0b0909;
  outline: none;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.newmessage{
  width: 62vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendbtn{
  width: 5vw;
  background: #050505;
  border:2px solid #313131;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}